@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Syne:wght@400..800&display=swap');


@import "tailwindcss";

@theme{
    --font-mont: 'Montserrat', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --font-syne: 'Syne', sans-serif;
    --font-play: 'play', sans-serif;
    
    
    --color-primary: #D4AF37; /* GOLD: BUTTONS, HIGHLIGHT, CTA, ICONS */

    --color-main: #1A1A1A;  /* MAIN BRAND COLOUR: HEADER, FOOTER, NAVIGATION */
    
    --color-secondary: #1E293B;  /* BODY TEXT */

    --color-soft: #F8F8F8;  /* SOFT WHITE*/
    
    --color-light: #D1D5DB;  /* LIGHT GRAY*/



    
  
  }

body {
  color: var(--color-soft);
  font-family: var(--font-inter);
  overflow-x: hidden;
}
